engine-strict=true

# add this to avoid the peers error when installing/adding
# packages in pnpm
auto-install-peers=true

# add this to avoid packaes with missing TS 
# dependencies
public-hoist-pattern[]=*types*